.title {
    text-align: center;
}

.statTable {
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 30px auto 20px;
    word-break: break-word;
}

.chartContainer {
    width: 92%;
    margin: 35px auto 30px;
}

.item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    white-space: normal;
    word-break: break-word;
}
.item:hover {
    color: #16181b;
    background-color: #f8f9fa;
}
.itemNone {
    display: none;
}

.checkBox > label{
    width: 100%;
}
.dateInput {
    text-align: center;
}
.dropdownBtn {
    width: 100%;
}
.dropdownMenu {
    max-height: 45vh;
    width: 300px;
    overflow: auto;
    overflow-x: hidden;
}
.optionContainer {
    margin: 25px 20px 20px;
}
.optionLabel {
    width: 100%;
    text-align: center;
}
.applyBtn {
    width: 100%;
}

.alertBox {
    margin: 10px auto 5px;
}