.nav-bar-custom {
  border-bottom: 1px solid black;
  background: linear-gradient(
    90deg,
    rgba(36, 0, 21, 1) 0%,
    rgba(79, 0, 111, 1) 0%,
    rgba(0, 84, 255, 1) 100%
  );

  box-shadow: 2px 2px black;
  transition: 1s height;
}

.nav-bar-extended {
  width: 250px;
}

.nav-button {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  background: url("./nav_icon.png");
}

link:hover {
  color: #ffd000;
}

.white {
  color: white;
  font-size: 1.1em;
}

.light-red {
  color: lightcoral;
}

.light-gray {
  color: lightslategray;
}

.yellow {
  color: #ffab00;
}
