.title {
    text-align: center;
}

.jobListBlock {
    margin: 30px 0 10px;
}

.requiredSign {
    color: rgb(248, 51, 51);
}

.myContainer {
    padding: 40px 0 20px;
}
.tableContainer {
    word-break: break-word;
}
.myTable > tbody {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
}
.myTable thead, .myTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: all 0.25s;
}

.chartContainer {
    margin: 35px auto 30px;
}

.item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    white-space: normal;
    word-break: break-word;
}
.item:hover {
    color: #16181b;
    background-color: #f8f9fa;
}
.itemNone {
    display: none;
}

.checkBox > label{
    width: 100%;
}
.dateInput {
    text-align: center;
}
.dropdownBtn {
    width: 100%;
}
.dropdownMenu {
    max-height: 45vh;
    width: 300px;
    overflow: auto;
    overflow-x: hidden;
}
.optionContainer {
    margin: 25px 20px 20px;
}
.optionLabel {
    width: 100%;
    text-align: center;
}
.applyBtn {
    width: 100%;
}

.toTopText {
    color: rgb(29, 141, 222);
    border-bottom: 1px solid rgb(29, 141, 222);
    padding-bottom: 2px;
    cursor: pointer;
}

.alertBox {
    margin: 10px auto 5px;
    text-align: center;
}

.realtimeOptionBlock {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .myTable {
        font-size: 0.8em;
    }
}

@media (max-width: 575px) {
    .myTable {
        font-size: 0.7em;
    }
}